@model RandomIndexViewModel

<div class="d-flex justify-content-center">
	<div class="card m-3 p-1 bg-dark" style="max-width:60%">
		<img src="~/Images/@Html.DisplayFor(model => model.image.Filename)"
			 alt="@Html.DisplayFor(model => model.image.Name)"
			 title="@Html.DisplayFor(model => model.image.Name)"
			 class="card-img-top img-fluid" />
		<div style="position: absolute; bottom:0px; right:0px;">
			@if (Model.existingPreference == null)
			{
				<div class="card m-3 bg-dark p-2">
					<div class="row">
						<div class="col">
							<form asp-controller="random" asp-action="like" class="row align-content-center justify-content-center pl-2 pr-1" method="post">
								<input type="image" src="~/lib/open-iconic/png/thumb-up-4x.png" class="justify-self-center" />
								<div hidden="hidden">
									@Html.EditorForModel()
									@Html.EditorFor(model => model.image)
									@Html.EditorFor(model => model.user)
								</div>
							</form>
						</div>
						<div class="col">
							<form asp-controller="random" asp-action="dislike" class="row align-content-center justify-content-center pl-1 pr-2" method="post">
								<input type="image" src="~/lib/open-iconic/png/thumb-down-4x.png" />
								<div hidden="hidden">
									@Html.EditorForModel()
									@Html.EditorFor(model => model.image)
									@Html.EditorFor(model => model.user)
								</div>
							</form>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="card m-2 bg-dark p-1">
					<div class="col">
						<form asp-controller="random" asp-action="removepreference" method="post" class="row align-content-center justify-content-center">
							<input type="image" src="~/lib/open-iconic/png/ban-4x.png" height="20" width="20" />
							<div hidden="hidden">
								@Html.EditorForModel()
								@Html.EditorFor(model => model.image)
								@Html.EditorFor(model => model.user)
							</div>
						</form>
					</div>
				</div>
			}
		</div>

	</div>
</div>
